.inner {
  padding: 40px;
  background-color: #55aaff;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
.inner h1 {
  margin-bottom: 40px;
  font-size: 4.5rem;
  font-family: 'Lato', sans-serif;
}
.inner .btn {
  color: #ffffff;
  background: #55aaff;
  border-color: #ffffff;
  transition-duration: 0.4s;
}
.inner .btn:hover {
  background: #77bbff;
  border-color: #ffffff;
  color: #ffffff;
}
.inner .btn:focus,
.inner .btn:active,
.inner .btn.active,
.inner .btn.focus {
  color: #ffffff;
  background-color: #aad5ff;
  border-color: #ffffff;
}
.inner .btn:active,
.inner .btn.active {
  color: #ffffff;
  background-color: #aad5ff;
  border-color: #ffffff;
}
.inner .btn:active:focus,
.inner .btn.active:focus,
.inner .btn:active.focus,
.inner .btn.active.focus {
  color: #ffffff;
  background-color: #aad5ff;
  border-color: #ffffff;
}
footer {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #55aaff;
  color: #ffffff;
}
footer .btn {
  color: #ffffff;
  background: #55aaff;
  border-color: #ffffff;
  transition-duration: 0.4s;
}
footer .btn:hover {
  background: #77bbff;
  border-color: #ffffff;
  color: #ffffff;
}
footer .btn:focus,
footer .btn:active,
footer .btn.active,
footer .btn.focus {
  color: #ffffff;
  background-color: #aad5ff;
  border-color: #ffffff;
}
footer .btn:active,
footer .btn.active {
  color: #ffffff;
  background-color: #aad5ff;
  border-color: #ffffff;
}
footer .btn:active:focus,
footer .btn.active:focus,
footer .btn:active.focus,
footer .btn.active.focus {
  color: #ffffff;
  background-color: #aad5ff;
  border-color: #ffffff;
}
.project {
  border-style: solid;
  border-color: #55aaff;
  border-radius: .25rem;
  border-width: 1px;
  padding: 10px;
  margin-bottom: 20px;
}
.project .btn {
  color: #55aaff;
  background: #ffffff;
  border-color: #55aaff;
  transition-duration: 0.4s;
}
.project .btn:hover {
  background: #ddeeff;
  border-color: #55aaff;
  color: #55aaff;
}
.project .btn:focus,
.project .btn:active,
.project .btn.active,
.project .btn.focus {
  color: #55aaff;
  background-color: #aad5ff;
  border-color: #55aaff;
}
.project .btn:active,
.project .btn.active {
  color: #55aaff;
  background-color: #aad5ff;
  border-color: #55aaff;
}
.project .btn:active:focus,
.project .btn.active:focus,
.project .btn:active.focus,
.project .btn.active.focus {
  color: #55aaff;
  background-color: #aad5ff;
  border-color: #55aaff;
}
.project h2 {
  color: #55aaff;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  padding-top: 3px;
}
.project p {
  color: #808080;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  height: 4em;
  margin-bottom: 1.5rem;
  margin-top: 0.2rem;
}
.project .mega-octicon {
  float: right;
  margin-top: 2px;
  color: #55aaff;
}
.project .pill {
  font-size: 0.8rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: .35rem;
}
.def {
  background-color: #ffffff;
  color: #b3b3b3;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
}
.php {
  background-color: #ffffff;
  color: #6172a6;
  border-width: 1px;
  border-style: solid;
  border-color: #6172a6;
}
.magento {
  background-color: #ffffff;
  color: #ee5a27;
  border-width: 1px;
  border-style: solid;
  border-color: #ee5a27;
}
.css {
  background-color: #ffffff;
  color: #6a528f;
  border-width: 1px;
  border-style: solid;
  border-color: #6a528f;
}
.sql {
  background-color: #ffffff;
  color: #e98f00;
  border-width: 1px;
  border-style: solid;
  border-color: #e98f00;
}
.cpp {
  background-color: #ffffff;
  color: #f8668f;
  border-width: 1px;
  border-style: solid;
  border-color: #f8668f;
}
.c {
  background-color: #ffffff;
  color: #3d3d3d;
  border-width: 1px;
  border-style: solid;
  border-color: #3d3d3d;
}
.sfml {
  background-color: #ffffff;
  color: #87c43b;
  border-width: 1px;
  border-style: solid;
  border-color: #87c43b;
}
.vue {
  background-color: #ffffff;
  color: #41b883;
  border-width: 1px;
  border-style: solid;
  border-color: #41b883;
}
.haxe {
  background-color: #ffffff;
  color: #df7900;
  border-width: 1px;
  border-style: solid;
  border-color: #df7900;
}
body {
  font-family: 'Open Sans', sans-serif;
}
