<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/octicons.min.css">
    <link rel="stylesheet" type="text/css" href="css/github.css">
    <link rel="shortcut icon" href="favicon.png">
    <script src="js/vue.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <title>maddyboy.github.io</title>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.maddyboy.github.io"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//torch.maddyboy.com/";
            _paq.push(['setTrackerUrl', u + 'kiwip.php']);
            _paq.push(['setSiteId', '2']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = 'https://torch.maddyboy.com/js/kiwip.min.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript><p><img src="//torch.maddyboy.com/kiwip.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</head>

<body>
    <header>
        <div class="inner">
            <h1>maddyboy</h1>
            <a href="https://github.com/maddyboy" class="btn btn-primary">Follow me on GitHub</a>
        </div>
    </header>

    <div class="container">
        <div class="row" id="app">

            <!-- Project -->
            <div class="col-lg-4" v-for="project in projects">
                <div class="project">
                    <span class="mega-octicon" v-bind:class="project.icon"></span>
                    <h2>{{ project.title }}</h2>
                    <span v-for="tech in project.techs" class="pill" v-bind:class="tech.class">{{tech.name}}</span>
                    <p>{{ project.desc }}</p>
                    <a target="_blank" v-bind:href="project.link" class="btn btn-block">View</a>
                </div>
            </div>
            <!-- End project -->

        </div>
    </div>

    <footer>
        <a href="http://maddyboy.com/contact" class="btn">Contact me</a>
    </footer>
    <script src="js/my.js" type="text/javascript"></script>
</body>
</html>
