

  <script type="text/javascript" src='{{ "/assets/js/particles.min.js" | prepend: site.baseurl }}'></script>
  
  <script type="text/javascript" src='{{ "/assets/js/app.js" | prepend: site.baseurl }}'></script>

  {% if page.url == "/basics-of-canvas-js/" %}
   <script type="text/javascript" src='{{ "/assets/js/canvas-basics-min.js" | prepend: site.baseurl }}'></script>
  {% endif %}

  {% if page.url == "/motion-js/" %}
   <script type="text/javascript" src='{{ "/assets/js/js-motion.js" | prepend: site.baseurl }}'></script>
  {% endif %}

    {% include analytics.html %}
    
</body>
</html>
